<!-- <button (click)="initiatePayment('your_payment_session_id')">Pay Now</button> -->
<!-- <div class="container">
    <h2>Payment Form</h2>
    <form (ngSubmit)="initiatePayment(this.order.order_id)">
        <label>Customer Name:</label>
        <input [(ngModel)]="order.customer_details.customer_name" name="customer_name" required>
        <br><br>

        <label>Customer ID:</label>
        <input [(ngModel)]="order.customer_details.customer_id" name="customer_id" required>
        <br><br>

        <label>Email:</label>
        <input [(ngModel)]="order.customer_details.customer_email" name="email" required>
        <br><br>

        <label>Phone:</label>
        <input [(ngModel)]="order.customer_details.customer_phone" name="phone" required>
        <br><br>

        <label>Amount:</label>
        <input [(ngModel)]="order.order_amount" name="amount" type="number" required>
        <br><br>

        <button type="submit">Pay Now</button>
    </form>
</div> -->

<!-- <div *ngIf="showPopup" class="popup">
    <h3>Payment Successful!</h3>
    <p>Order ID: {{ paymentData.order_id }}</p>
    <p>Reference ID: {{ paymentData.payment_id }}</p>

    <input [(ngModel)]="feedback" placeholder="Enter feedback">
    <button (click)="submitFeedback()">Submit Feedback</button>

    <div class="certificate-form">
        <h3>Generate Certificate</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label>Name:</label>
            <input formControlName="name" required><br><br>

            <label>Email:</label>
            <input formControlName="email" type="email" required><br><br>

            <button type="submit">Generate Certificate</button>
        </form>
        <p *ngIf="message">{{ message }}</p>
    </div>
</div> -->

<div class="container"><br>
    <div class="card">
        <div class="card-body">
            <h2>Donation Form </h2> <br><br>
            <div class="container">
                <form (ngSubmit)="initiatePayment()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input [(ngModel)]="order.order_amount" type="radio" name="amount"
                                                value="500" />
                                            <label for="amount"> 500 &#8377;</label>
                                        </div>

                                        <div class="col-md-3">
                                            <input [(ngModel)]="order.order_amount" type="radio" name="amount"
                                                value="10000" />
                                            <label for="amount"> 10,000 &#8377;</label>
                                        </div>

                                        <div class="col-md-3">
                                            <input [(ngModel)]="order.order_amount" type="radio" name="amount"
                                                value="12000" />
                                            <label for="amount"> 12,000 &#x20B9;</label>
                                        </div>

                                        <div class="col-md-3">
                                            <input [(ngModel)]="order.order_amount" type="radio" name="amount"
                                                value="15000" />
                                            <label for="amount"> 15,000 &#x20B9;</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Amount: </label>
                                    <input [(ngModel)]="order.order_amount" name="amount" type="number" value="24000"
                                        placeholder="Enter Custom amount" class="inputA" required>
                                    <br><br>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Name:</label> <br>
                            <input placeholder="Enter Name" [(ngModel)]="order.customer_details.customer_name"
                                name="customer_name" class="input" required>
                            <br><br>
                        </div>

                        <!-- <div class="col-md-6">
                            <label>Customer ID:</label><br>
                            <input [(ngModel)]="order.customer_details.customer_id" name="customer_id" required>
                            <br><br>
                        </div> -->

                        <div class="col-md-6">
                            <label>Email:</label><br>
                            <input [(ngModel)]="order.customer_details.customer_email" name="email"
                                placeholder="Enter Email" class="input" required>
                            <br><br>
                        </div>
                        <div class="col-md-6">
                            <label>Contact No.:</label><br>
                            <input [(ngModel)]="order.customer_details.customer_phone" name="phone"
                                placeholder="Enter Contact number" class="input" required>
                            <br><br>
                        </div>

                        <div class="col-md-6">
                            <label>Pan No :</label><br>
                            <input [(ngModel)]="order.customer_details.customer_panNo" name="panNo" type="text"
                                placeholder="Enter Pan No" class="input" required>
                            <br><br>
                        </div>


                        <div class="text-center">
                            <div>
                                <button class="btn btn-success btn-lg" type="submit"> <b>Pay Now</b> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white">Wait a minute! Generating your Certificate.... </p>
</ngx-spinner>

<!-- <ngx-spinner bdColor="rgba(0,0,0,0.6)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white; font-size: 1.2rem;">Generating your certificate...</p>
</ngx-spinner> -->

<!-- <div *ngIf="showPopup" class="popup">
    <h3>Payment Successful!</h3>
    <p>Order ID: {{ paymentData.order_id }}</p>
    <p>Reference ID: {{ paymentData.payment_id }}</p>

    <input [(ngModel)]="feedback" placeholder="Enter feedback">
    <button (click)="submitFeedback()">Submit Feedback</button>

    <div class="certificate-form">
        <h3>Generate Certificate</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label>Name:</label>
            <input formControlName="name" required><br><br>

            <label>Email:</label>
            <input formControlName="email" type="email" required><br><br>

            <button type="submit">Generate Certificate</button>
        </form>
        <p *ngIf="message">{{ message }}</p>
    </div>
</div> -->